 :root {
    --accent-color:#2196F3; 
    --primary-font:'Roboto',
        sans-serif;
    --secondary-font:'Raleway',
        sans-serif;
    --primary-text-color:#212121;
    --secondary-text-color: #757575;
    --primary-background-color:#FFFFFF;
    --secondary-background-color:#F5F4FA;
    --dark-background-color:#2F303A;
}
h1,h2,h3,h4,p {
    margin-top: 0;
    margin-bottom: 0;
}
ul,ol {
    margin-top: 0;
    margin-bottom: 0;
    padding-left: 0;
}
a {
    text-decoration: none;
}
ul {
    list-style: none;
}
img {
    display: block;
    max-width: 100%;
    height: auto;
}
address {
    font-style: normal;
}
button {
cursor: pointer;
border: transparent;
text-align: center;
}
.current {
    color: var(--accent-color);
}
body {
    background-color:var(--primary-background-color);
    color: var(--primary-text-color);
    font-family: var(--primary-font);
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.03em;
}
.container {
    width: 1200px;
    margin-left: auto;
    margin-right: auto;
    padding-left: 15px;
    padding-right: 15px;

    
}
.page-header {
    padding-top: 24px;
    padding-bottom: 24px;
    align-content: center;
    border: 1px solid #ECECEC;
}

.page-header-container {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.site-nav {
    display: flex;
    align-items: center;
}
.contacts{
    display: flex;
}

.logo {
margin-right: 90px;


    color: var(--primary-text-color);
    font-family: var(--secondary-font);
        font-weight: 700;
        font-size: 26px;
        line-height: 1.19;
    letter-spacing: 0.03em;
}
.Web-logo {
    color:var(--accent-color);
}


.link {

        font-weight: 500;
        letter-spacing: 0.02em;
        color: var(--primary-text-color);
}
 .link:hover,
 .link:focus,
 .contact-mail:hover,
 .contact-mail:focus
{
    color:var(--accent-color);
}


.site-nav .link.current {
    color: var(--accent-color); 
}

.nav-list {
    display: flex;
    column-gap: 50px;
}

.contact-mail{
margin-right: 30px;

        font-weight: 500;
        letter-spacing: 0.02em;
        color:var(--secondary-text-color);
}
.contact-phone-number {
   
        font-weight: 500;
        letter-spacing: 0.02em;
        color:var(--secondary-text-color);
}
.contact-phone-number:hover,
.contact-phone-number:focus{
    color:var(--accent-color);
}

.hero-section {
    padding-top: 200px;
    padding-bottom: 200px;
    align-items: center;
}
.hero-section-container {
   text-align: center;
}

.modal-open-btn {
    border-radius: 4px;
        padding: 10px 32px;
        min-width: 216px;
        
        font-weight: 700;
        font-size: 16px;
        line-height: 1.87;
        letter-spacing: 0.06em;
        color: var(--primary-background-color);
        background-color: var(--accent-color);
        
}
.modal-open-btn:hover,
.modal-open-btn:focus {
    background-color: #188CE8;
}

.visually-hidden {
       position: absolute;
        white-space: nowrap;
        width: 1px;
        height: 1px;
        overflow: hidden;
        border: 0;
        padding: 0;
        clip: rect(0 0 0 0);
        clip-path: inset(50%);
        margin: -1px;
}
.advantages-items {
    display: flex;
    gap: 30px;
} 

.advantages-item-list {
    flex-basis: calc((100% - 90px)/4);
}
.content-section.about-section {
    padding-top: 0;
}

.title-visual-foto {
    display: flex;
    gap: 30px;
}

.visual-foto-list {
    flex-basis: calc((100% - 60px)/3);
}


.hero-section, 
.section-footer
{
    background-color: var(--dark-background-color);
}
.head-hero {
margin-bottom: 30px;

    font-weight: 900;
        font-size: 44px;
        line-height: 1.36;
        text-align: center;
        letter-spacing: 0.06em;
        text-transform: uppercase;
        color:var(--primary-background-color);
}

.press-btn-menu {
display: inline-block;
/* min-width: 130px; */
padding: 6px 22px;
border-radius: 4px;
text-align: center;

        font-size: 16px;
        line-height: 1.6;
        font-weight: 500;
        color: var(--primary-text-color);
        background-color: var(--secondary-background-color);
}

.menu-btn:not(:last-child){
margin-right: 8px;
}

.press-btn-menu:hover,
.press-btn-menu:focus {
    background-color: var(--accent-color);
    color:var(--primary-background-color)
}
.icon {
    display: flex;
    flex-wrap: wrap;
    gap: 30px;
}

.title-items {
margin-bottom: 10px;

    font-weight: 700;
    font-size: 14px;
    text-transform: uppercase;
        
}
.item-list {
    line-height: 1.7;
    color: var(--secondary-text-color);
}
.title {
margin-bottom: 50px;

    font-weight: 700;
    font-size: 36px;
    line-height: 1.16;
    text-align: center;
}
.team-list {
    background-color: var(--secondary-background-color);
    
}

.team {
    display: flex;
    gap: 30px;
}

.employees {
    flex-basis: calc((100% - 90px)/4);
    background: var(--primary-background-color);
    box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
    border-radius: 0px 0px 4px 4px;
}
.about-position {
padding-top: 30px;
padding-bottom: 30px;

}
.team-name {
margin-bottom: 10px;

    font-weight: 500;
    font-size: 16px;
    line-height: 1.19;
    text-align: center;
    
}
.job-position {

font-size: 16px;
line-height: 1.19;
text-align: center;
color: var(--secondary-text-color);
}

.icon-name {
margin-bottom: 4px;

font-weight: 700;
font-size: 18px;
line-height: 2;
letter-spacing: 0.06em;
}
.discription-icons {
font-size: 16px;
line-height: 1.87;
color: var(--secondary-text-color);
}

.second-logo-footer {
    color: var(--primary-background-color);
}
.contact-adress {
        line-height: 1.7;
        color: var(--primary-background-color)
}
.footer-contact-mail,
.footer-contact-phone-number {
    line-height: 1.7;
        color: rgba(255, 255, 255, 0.6);
}
.footer-contact-phone-number:hover,
.footer-contact-phone-number:focus,
.footer-contact-mail:hover,
.footer-contact-mail:focus
 {
    color: var(--accent-color);}

.section-footer {
    padding-top: 60px;
    padding-bottom: 60px;
}
.footer-logo {
    display: inline-block;
    margin-bottom: 20px;
    margin-right: 0;
}

.content-section {
    padding-top: 94px;
    padding-bottom: 94px;
    
}

.btn-menu {
    display: flex;
   
    align-items: center;
    margin-bottom: 50px;
    justify-content: center;
}
.menu-icon {
    flex-basis: calc((100% - 60px)/3);
   
    background: var(--primary-background-color);
    
    }

    .about-icon {
        padding: 20px 24px;
        
        border: 1px solid #EEEEEE;
    }

.footer-contact:not(:last-child) {
    margin-bottom: 9px;

}